.file-input-group {
    padding: 1.5rem;
    border: 2px dashed #fff;
    border-radius: 5px;
    margin: 0.6rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}

.file-input-group:hover,
.file-input-group.active {
    border-color: #646cff;
    background-color: rgba(255, 255, 255, 0.15);
}

.file-input-group input {
    display: none;
}

.file-input-group p {
    background-color: transparent;
    color: #fff;
    margin: 0;
    color: rgba(255, 255, 255, 0.6);
}

.images {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 300px;
    margin-bottom: 0.6rem;
}

.images img {
    width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.images button {
    position: absolute;
    top: -14px;
    right: 10px;
    padding: 0.2rem 0.6rem;
}

.images button {
    margin-top: 0 !important;
    position: unset;
}

textarea {
    min-height: 70px;
}

.audio {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.6rem 0;
}

.image button {
    position: absolute;
    top: 10px;
    right: 10px;
}