.audio-player {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(178deg, rgba(58, 129, 191, 1) 1.63%, rgba(65, 48, 90, 1) 148.18%);
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0.2rem 0.8rem;
    box-sizing: border-box;
}

.audio-player svg {
    height: 24px;
    width: 24px;
}

.sname {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;
    max-width: 320px;
}

.sname .icon-m {
    height: 48px;
    width: 54px;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-right: 0.2rem;
    background: linear-gradient(178deg, rgba(58, 129, 191, 1) 1.63%, rgba(65, 48, 90, 1) 148.18%);
}

.sname .icon-m.active {
    animation: boom 0.5s ease-in-out infinite;
}

@keyframes boom {
    0% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1.05);
    }
}

.audio-player path {
    stroke: #fff;
}

.sname marquee {
    font-size: 0.9rem;
    margin: 0 0.4rem;
}

.btn-ctrls {
    display: flex;
    align-items: center;
    border: 1px solid #fff;
    padding: 0.3rem 0.1rem;
    border-radius: 1rem;
    background-color: #fff;
}

.btn-ctrls button {
    margin: 0 0.4rem;
    background: linear-gradient(178deg, rgba(58, 129, 191, 1) 1.63%, rgba(65, 48, 90, 1) 148.18%);
    padding: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: max-content;
    border: 1px solid #fff
}

.btn-ctrls svg {
    height: 20px;
    width: 20px;
}

.p-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
    flex: 1;
    padding-top: 0.6rem;
}

.p-info p {
    margin: 0;
    margin-top: 0.8rem;
    font-size: 0.8rem;
}

.audio-bar {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 180px;
    margin-left: 2rem;
}

.audio-bar svg {
    fill: #fff;
    height: 20px;
    width: 20px;
    margin-right: 0.8rem;
}

input[type="range"] {
    position: relative;
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    padding: 0;
    height: 6px;
    float: left;
    outline: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 6px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width, 0), rgba(0, 125, 181, 0.2) var(--buffered-width, 0));
}

input[type="range"]::before {
    position: absolute;
    content: "";
    top: 8px;
    left: 0;
    width: var(--seek-before-width);
    height: 3px;
    background-color: #007db5;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    margin: -4px 0 0 0;
    transition: 0.3s;
}

input[type="range"]:active::-webkit-slider-thumb {
    transform: scale(1.2);
    background: #007db5;
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width, 0), rgba(0, 125, 181, 0.2) var(--buffered-width, 0));
}

input[type="range"]::-moz-range-progress {
    background-color: #007db5;
}

input[type="range"]::-moz-focus-outer {
    border: 0;
}

input[type="range"]::-moz-range-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb {
    transform: scale(1.2);
    background: #007db5;
}

input[type="range"]::-ms-track {
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: transparent;
    border: solid transparent;
    color: transparent;
}

input[type="range"]::-ms-fill-lower {
    background-color: #007db5;
}

input[type="range"]::-ms-fill-upper {
    background: linear-gradient(to right, rgba(0, 125, 181, 0.6) var(--buffered-width, 0), rgba(0, 125, 181, 0.2) var(--buffered-width, 0));
}

input[type="range"]::-ms-thumb {
    box-sizing: content-box;
    border: 1px solid #007db5;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
}

input[type="range"]:active::-ms-thumb {
    transform: scale(1.2);
    background: #007db5;
}